.div{
    display: flex;
    padding: 150px;
}
    


.button{
    background-color: purple;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 90%
}
.container{
    border: 1px solid;
    margin: 0px;
    background: pink;
}
.container2{
    background: pink;
    border: 1px solid;
    padding:1px;
    margin: 0px;
}
.h1{
    font:purple;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.separator{
    display: flex;
    align-items: center;
    margin: 20px;
}
.separator .line{
    flex: 1;
    height: 1px;
    color: #666;
}
.separator .text{
margin: 0 10px;
color: #666;
}
.name{
    display: flex;
    gap: 10px;
}
.image{
    width: 500px;
    height: 500px;
}
.brand{
    justify-content: center;
    display: flex;
    gap: 20px;
}

